<!DOCTYPE html>
<html>
<head>
  <title>Picgur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="outer_container">
    <header class="inner_container">
      <h<%= @heading || 2 %>><%= @title || "Picgur" %></h<%= @heading || 2 %>>
      <nav class="topright">
        <%= link_to 'Home', root_path, :class => 'btn green' %>
        <%= link_to 'New Image', new_image_path, :class => 'btn green' %>
      </nav>
    </header>
  </header>
  <div class="outer_container">
    <div class="inner_container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
